* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: serif;
}

ul,ol,li {
    list-style: none;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
}

[class*=txt] {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
}

.txt1 {
    -webkit-line-clamp: 1;
}

.txt2 {
    -webkit-line-clamp: 2;
}

.txt3 {
    -webkit-line-clamp: 3;
}